spring:
#  h2:
#    console:
#      enabled: true

  datasource:
    driver-class-name:
      com.mysql.cj.jdbc.Driver
    url : jdbc:mysql://localhost:3306/spring_community
    # TODO μ•”νΈν™”
    username: test
    password: password

  jpa:
    generate-ddl: true
    properties:
      hibernate:
        # show_sql: true
        format_sql : true
        use_sql_comments : true
        default_batch_fetch_size : 100
        dialect:
          org.hibernate.dialect.MySQLDialect

  messages:
    basename: validation, securityMessage

  mvc:
    hidden-method:
      filter:
        enabled: true

logging:
  level:
    # spring logging group. include org.hibernate.SQL
    sql: debug
    web: debug # include web, http,
    com.toyproject.community:
      debug
#    org:
#      hibernate:
#        SQL : debug
