<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/layout::basic-layout(~{::title}, ~{::#body-content})">
<head>
    <title>내정보</title>
</head>
<body>
<div id="body-content" class="container">
    <!-- 내 로그인 정보 -->
    <div>
        <p>멤버 이메일 = <span th:text="${member.email}">
            멤버 이메일
        </span></p>
        <p>멤버 닉네임 = <span th:text="${member.nickname}">
            멤버 닉네임
        </span></p>
        <p>
            닉네임 변경일자 <span th:text="${member.nicknameModifiedDate}"></span>
        </p>
        <p>
            가입일자 : <span th:text="${member.registDate}"></span>
        </p>
        <a href="/member/mypage/change">내정보수정</a>
    </div>
    <div>
        <a href="/member/mypage/post">내가 쓴 글</a>
        <a href="/member/mypage/comment">내가 쓴 댓글 </a>
    </div>
</div>
</body>
</html>