<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/layout::basic-layout(~{::title}, ~{::#body-content})">
<head>
    <title>회원가입</title>
</head>
<body>
<div id="body-content" class="container">
    <div class="form-signin mx-5 px-5">
        <form action="/member/regist" method="post" th:object="${memberForm}">
            <h1 class="mb-3 fw-normal">회원가입</h1>
            <div class="form-floating">
                <input class="form-control" type="text" th:field="*{email}">
                <label for="email">id(email)</label>
                <p th:errors="*{email}">회원가입 필드 에러</p>
            </div>
            <div class="form-floating">
                <input class="form-control" type="password" th:field="*{password}">
                <label for="password">비밀번호</label>
                <p th:errors="*{password}">비밀번호 필드 에러</p>
            </div>
            <div class="form-floating">
                <input class="form-control" type="text" th:field="*{nickname}">
                <label for="nickname">id(email)</label>
                <p th:errors="*{nickname}">회원가입 필드 에러</p>
            </div>
            <button class="btn btn-primary w-100 mt-3" type="submit">회원가입</button>
        </form>
    </div>
</div>
</body>
</html>