<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/layout::basic-layout(~{::title}, ~{::#body-content})">
<head>
    <title>메인페이지</title>
</head>
<body>
<div id="body-content" class="container">
    <a class="btn btn-primary" href="/member/regist">회원가입</a>
    <a class="btn btn-primary" sec:authorize="isAnonymous()" href="/member/login">로그인</a>
    <a class="btn btn-primary" sec:authorize="isAuthenticated()" href="/member/logout">로그아웃</a>
    <a class="btn btn-primary" href="/b/list">게시판 목록</a>
</div>
</body>
</html>