<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout::basic-layout(~{::title}, ~{::#body-content})}">
<head>
    <title>로그인</title>
</head>
<body>
<div id="body-content" class="container">
    <div class="form-signin mx-5 px-5">
        <form action="/login_proc" th:object="${memberForm}" method="post">
            <h1 class="mb-3 fw-normal">로그인</h1>
            <div class="form-floating">
                <input class="form-control" type="text" th:field="*{email}">
                <label for="email">id(email)</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="text" th:field="*{password}">
                <label for="password">비밀번호</label>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a class="btn btn-primary p-2 w-100" href="/member/regist">회원가입</a>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary p-2 w-100" type="submit">로그인</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>